<template>
    <h1>
        ${email}
    </h1>

    <p if.bind="!recentMatches || !partnerResults"><em>Loading...</em></p>

    <table if.bind="recentMatches|| partnerResults" class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Wins / Matches</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="partnerResult of partnerResults">
                <td>${ partnerResult.Username }</td>
                <td>${ partnerResult.Wins } ${partnerResult.Matches}</td>
            </tr>
        </tbody>
    </table>

    <table if.bind="recentMatches || partnerResults" class="table">
        <thead>
            <tr>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Result</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="match of recentMatches">
                <td>${ match.PlayerList[0] } & ${ match.PlayerList[1] }</td>
                <td>${ match.PlayerList[2] } & ${ match.PlayerList[3] }</td>
                <td>${ match.MatchResult.Team1Score} - ${ match.MatchResult.Team2Score}</td>
                <td>${ match.Won ? "+" : "-" }${ match.Points }</td>
            </tr>
        </tbody>
    </table>
</template>