<template>
    <require from="../converters/date-format"></require>
    <require from="../converters/number-format"></require>
    <h1>
        ${email}
    </h1>

    <p if.bind="!recentMatches || !partnerResults"><em>Loading...</em></p>

    <table if.bind="recentMatches|| partnerResults" class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Wins / Matches</th>
                <th>Win %</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="partnerResult of partnerResults">
                <td>${ partnerResult.Username }</td>
                <td>${ partnerResult.Wins } / ${partnerResult.Matches}</td>               
                <td>${ (partnerResult.Wins / partnerResult.Matches * 100) | numberFormat:'0.)'}</td>
            </tr>
        </tbody>
    </table>

    <table if.bind="recentMatches || partnerResults" class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Result</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="match of recentMatches">
                <td>${ match.TimeStampUtc | dateFormat }
                <td>${ GetUser(match.PlayerList[0]).Username } & ${ GetUser(match.PlayerList[1]).Username }</td>
                <td>${ GetUser(match.PlayerList[2]).Username } & ${ GetUser(match.PlayerList[3]).Username }</td>
                <td>${ match.MatchResult.Team1Score} - ${ match.MatchResult.Team2Score}</td>
                <td>${ match.Won ? "+" : "-" }${ match.Points }</td>
            </tr>
        </tbody>
    </table>
</template>