@model List<Models.Season>

@foreach (var season in @Model)
{
    <h4><b>@Html.ActionLink("Leaderboard", "SeasonView", routeValues: new { seasonName = season.Name }) (@season.StartDate.ToString("dd-MM-yyyy")) </b></h4>
}