@using FoosballCore2.ViewModels
@model ChangeEmailViewModel

<b>Emails without a user</b>
@foreach (var mail in @Model.EmailsWithoutUsers)
{
    <li>@mail <button>Pick</button></li>
}
<br/>
<br/>


<b>Change email</b>
@using (Html.BeginForm("ChangeEmail", "UserAdministration", FormMethod.Post))
{
    <text>From</text>
    @Html.TextBox("sd", null, new { @class = "form-control" })

    <br/>
    <text>To</text><br/>
    @Html.DropDownListFor(model => model.RegisteredUsers, Model.RegisteredUsers.Select(x => new SelectListItem
    {
        Text = x.Email,
        Value = x.Email
    }), "-- Select user email --");

    <input type="submit" value="Change" />
}